@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap'); */

li a {
  color: white;
  font-weight: bold;
}

/* .card__partage {
    box-shadow: 4px 1px 43px -4px rgba(66, 66, 66, 1);
} */
